#projectsSection {
  margin-bottom: 60px;
}

.sectionHeading {
  font-size: 55px;
  font-family: 'Ubuntu Mono', monospace;
  color: rgb(77, 22, 59);
  text-align: center;
}

.sectionBorder {
  width: 100px;
  height: 10px;
  border-bottom: 4px solid limegreen;
  margin: 0 auto;
  margin-bottom: 50px;
}

.terminal {
  width: 90%;
  max-width: 1000px;
  min-width: 413px;
  box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
  margin-top: 100px;
  margin-bottom: 100px;
}

.terminalHeader {
  height: 32px;
  border-radius: 10px 10px 0 0;
  background-color: rgb(65, 61, 61);
}

.circle {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  margin-left: 15px;
}

.terminalBody {
  padding: 10px;
  background-color: rgb(58, 14, 44);
}

.terminalText {
  font-family: 'Ubuntu Mono', monospace;
  letter-spacing: 1px;
  color: #f6f9fc;
  font-size: 17px;
}

.terminalTextSection {
  padding-bottom: 12.5px;
}

.directory {
  color: limegreen;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.terminalPrompt {
  width: 9px;
  height: 20px;
  -webkit-animation: typing 12s steps(13, end) infinite,
      blinking 1s step-end infinite;
  animation: typing 12s steps(13, end) infinite,
      blinking 1s step-end infinite;
}

@-webkit-keyframes blinking {
  from, to { background-color: transparent; }
  50% { background-color: rgb(133, 138, 133); }
}

@keyframes blinking {
  from, to { background-color: transparent; }
  50% { background-color: rgb(133, 138, 133); }
}

.tabHeader {
  width: 300px;
  margin: 0 auto;
  background-color: rgb(65, 61, 61);
}

.tab {
  width: 80px;
  padding: 10px;
  color: grey;
  font-size: 21px;
  letter-spacing: 4px;
  font-weight: 400;
  font-family: 'Ubuntu Mono', monospace;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.tab:hover {
  background-color: rgb(58, 14, 44);
  color: limegreen;
}

.tabBody {
  width: 300px;
  margin: 0 auto;
  background-color: rgb(58, 14, 44);
}

.tabContent {
  color: white;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .terminal {
    margin-bottom: 60px;
  }
  
  .terminalText {
    font-size: 16px;
  }
  
  .terminalTextSection {
    padding-bottom: 11px;
  }
  
  .directory {
    font-size: 15px;
  }
}

@media screen and (max-width: 940px) {
  .terminal {
    width: 96%;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 770px) {
  .terminal {
    width: 98%;
  }
}